#botao-envio-formulario {
  margin-top: 30px;
  border: none;
  background-color: var(--cor-botao);
  color: white;
  font-size: 32pt;

  display: inline-block;

  border-radius: 50px;
  width: 20%;
  padding: 10px;
}

#botao-envio-formulario:hover {
  cursor: pointer;
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  #botao-envio-formulario {
    margin-top: 15px;
    font-size: 20pt;

    border-radius: 40px;
    width: 20%;
    padding: 15px;
  }
}
