#titulo {
  font-size: 32pt;
}

#descricao {
  font-size: 20pt;
  margin-bottom: 10px;
  font-weight: normal;
}

#aviso {
  margin-top: 20px;
  font-size: 18pt;
}
@media screen and (min-width: 992px) and (max-width: 1280px) {
  #titulo {
    font-size: 20pt;
  }
  #descricao {
    font-size: 14pt;
    margin-bottom: 15px;
  }
  #aviso {
    margin-top: 10px;
    font-size: 12pt;
  }
}
