@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

:root {
  --cor-principal: #9F8FFE;
  --branco: #FFFEFE;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Outfit', sans-serif;
}

#cabecalio {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-principal);
  height: 10.5vh;
  padding-left: 10px;
  padding-right: 10px;
}

.cabecalio-part {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cabecalio-part * {
  margin: 10px;
}

.cabecalio-part img {
  height: 80%;
}

#cabecalio h1 {
  color: var(--branco);
  font-size: 32pt;
  font-weight: normal;
}

#perfil h1 {
  font-size: 24pt;
}

.menu:hover {
  cursor: pointer;
}

#user-menus {
  position: absolute;
  width: 97%;
  height: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  z-index: 99;
}

.modal {
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.user-modal {
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.fade-in {
  opacity: 1;
}

#perfil:hover {
  cursor: pointer;
}


@media screen and (min-width: 992px) and (max-width: 1280px) {
  #cabecalio h1 {
    font-size: 28pt;
  }
  #perfil h1 {
    font-size: 20pt;
  }
}
