input[type="number"]::-webkit-inner-spin-button {
  display:none
}

.Toastify .Toastify__toast-container {
  width: 25%;
  font-size: 20pt;
}

.Toastify__toast {
  font-family: 'Roboto', 'Arial', sans-serif;
  border: 1px solid lightgray;
}

.Toastify__toast-icon {
  width: 13%;
  margin-right: 5%;
}

.Toastify__toast--error {
  background-color: whitesmoke;
}

