#direita-listagem-vinculos {
  width: 83.2%;
  height: 89.3vh;
  float: right;

  display: flex;
  justify-content: left;
  align-items:flex-start;

  border: 1px solid black;

  overflow: scroll;
}
#listagem-vinculos {
  flex-grow: 1;
}

#listagem-vinculos th, td{
  font-size: 16pt;

  border: 1px solid lightgray;

  white-space: nowrap;
  padding: 5px;

  width: auto;
}

tr:nth-child(odd) {
  background-color: #f5e8e8;
}

#listagem-vinculos {
  width: fit-content;

  border-collapse: collapse;
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  #listagem-vinculos th, td{
    font-size: 12pt;
  }
}
